@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

p {
    font-size: 1.4rem;
}

.section-2 {
    background-color: #dedae7;
    padding: 130px 50px 80px;
    text-align: center;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}

.nav-item {
    padding: 0 15px;
}

.hidden {
    display: none;
}

.text-small {
    font-size: 1rem;
}

.img-1 {
    height: 500px;
    transform: rotate(30deg);
    position: absolute;
    right: 10%;
}

.testo {
    font-size: 2rem;
    padding: 0 50px;
}

.btn {
    margin-right: 20px;
}

#features {
    padding: 5% 15% 7%;
    background-color: #9CB4CC;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 1% 4%;
}

.icon {
    color: black;
    margin-bottom: 1rem;
    font-size: 4rem;
}

.icon:hover {
    color: #dedae7;
}

#recensioni {
    background-color: #dedae7;
    text-align: center;
    line-height: 3rem;
}

.img-recensioni-1 {
    position: absolute;
    opacity: 0.3;
    right: 70%;
    top: 120px;
}

.img-recensioni-2 {
    transform: rotate(150deg);
    position: absolute;
    opacity: 0.3;
    right: 70%;
    top: -120px;
}

.img-recensioni-3 {
    height: 50%;
    position: absolute;
    opacity: 0.3;
    right: 20%;
    top: 50%;
}

.carousel-control-prev-icon {
    background-image: url("../image/left-arrow.png");
}


.carousel-control-next-icon {
    background-image: url("../image/right-arrow.png");
}

.carousel-item {
    padding: 7% 15%;
}

.spinner-border {
    margin-top: 200px;
    margin-bottom: 200px;
    width: 4rem;
    height: 4rem;
}

.img-recensioni {
    height: 70px;
    margin-left: 20px;
}

#prezzi {
    padding: 100px;
    text-align: center;
    background-color: #9CB4CC;
}

.pricing-col {
    padding: 3% 2%;
}

@media (max-width: 900px) {
    .img-1 {
        position: static;
        height: 300px;
        transform: rotate(0);
        margin-top: 20px;
    }

    .img-recensioni-1 {
        top: 100px;
    }
}

@media (max-width: 900px) {
    .img-recensioni-3 {
        right: -15%;
    }
}

#footer {
    background-color: #fff;
    text-align: center;
    padding: 5% 15%;
    font-size: 1.5rem;
}

.img-footer {
    padding: 2% 1%;
}

.text-copyright {
    font-size: 1rem;
}

/* Modal */

/* .modal-content {
    background-color: #dedae7;
} */

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.middle {
    border-radius: 0;
    margin-bottom: -1px;
}

.bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.img-modal {
    text-align: center;
    height: 60px;
    margin: 10px 0 10px;
}

.btn-modal {
    margin-top: 20px;
}

.bi-plus {
    color: rgb(16, 154, 16);
    margin: auto;
    font-size: 3rem;
}

.bi-dash {
    color: red;
    margin: auto;
    font-size: 3rem;
}